html {
    height: 100%;
    font-family: "Helvetica Neue", NotoSansHans-Regular, AvenirNext-Regular, arial, Hiragino Sans GB, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f8fa;
}

::-webkit-scrollbar {
    display: none;
}

main {
    flex: 1 0 auto;
}

.parallax-container {
    height: 100%;
}

.card-image {
    pointer-events: none;
}

.card-content > a {
    color: #09003f;
}

.comments-href {
    display: inline;
    padding: 0
}

.theme-color-gradient {
    -webkit-animation: color-gradient 5s;
    animation: color-gradient 5s;
    background-color: #98A9F9
}

@-webkit-keyframes color-gradient {
    0% {
        background-color: #bbdefb;
    }
    50% {
        background-color: #82b1ff;
    }
    100% {
        background-color: #98A9F9;
    }
}

@keyframes color-gradient {
    0% {
        background-color: #bbdefb;
    }
    50% {
        background-color: #82b1ff;
    }
    100% {
        background-color: #98A9F9;
    }
}

#normal-card > .card {
    visibility: hidden;
}

.content-typo > p {
    line-height: 1.8;
    font-size: 16px;
}

.content-typo > blockquote {
    margin: 20px 0;
    padding: 1.5rem;
    border-left: 6px solid #ee6e73;
    color: #8796A8;
    word-break: break-all;

    position: relative;
    background: #f5f8fc;
    background: linear-gradient(-150deg, transparent 1.5em, #ffffff 0);
}

.content-typo > blockquote::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .4)) 100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0, 0, 0, .15);
}

.content-typo > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.anchor-top {
    top: 50%;
}

#loading-bar {
    /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
    border-radius: 50%;
    background-image: url("../img/mascot-vicky.gif");
    /*开车送花*/
    width: 205px;
    height: 205px;
    background-position: 53% 58%;
    /*奔奔跳跳*/
    /*width: 175px;*/
    /*height: 175px;*/
    /*background-position: 106% 18%;*/
    /*洗澡*/
    /*width: 195px;*/
    /*height: 195px;*/
    /*background-position: 54% 18%;*/
}

#vicky:hover {
    /*background-position: 2% 78%;*/
    background-position: 55% 19%;
}

#vicky {
    display: block;
    background: url("../img/mascot-vicky.gif") no-repeat 1% 57%;
    width: 160px;
    height: 180px;
}

@keyframes move {
    0% {
        background-position: 0 0;
        /*filter: blur(0px);*/
    }
    50% {
        background-position: 500px 0;
        /*filter: blur(20px);*/
    }
}
.logo-mark-banner {
    width: 360px;
    height: 180px;
    animation: move 30s infinite;
    background: url('../img/c5.jpg');
    background-size: cover;
    -webkit-mask-image: url('../vick-blog.png');
    -webkit-mask-size: cover;
    mask-image: url('../vick-blog.png');
    mask-size: cover;
}
